<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스마트 간호사 서비스</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="logo">
    <h1><a href="/">병원 관리 시스템</a></h1>
  </div>
  <nav>
    <ul>
      <li><a href="/schedule">근무표</a></li>
      <li><a href="/patients">전체 환자 검색</a></li>
      <li><a href="/beds">병상별 환자</a></li>
      <li><a href="/dosage">약 용량 계산</a></li>
      <li><a href="/stock">재고 확인</a></li>
      <li><a href="/organization">진료과 조직도</a></li>
    </ul>
  </nav>
</header>

<main class="patient-info">
  <section class="basic-info">
    <table class="info-table">
      <tr>
        <td class="form">이름</td>
        <td th:text="${patient.name}"></td>
        <td class="form">성별</td>
        <td th:text="${patient.gender}"></td>
        <td class="form">생년월일</td>
        <td th:text="${#dates.format(patient.birthDate, 'yyyy-MM-dd')}"></td>
        <td class="form">전화번호</td>
        <td th:text="${patient.phone}"></td>
      </tr>
      <tr>
        <td class="form">주소</td>
        <td colspan="7" th:text="${patient.address}"></td>
      </tr>
    </table>
  </section>

  <section class="medical-records">
    <table class="records-table">
      <thead>
      <tr>
        <th>진료ID</th>
        <th>진료일지</th>
        <th>진단 내용</th>
        <th>처방 내용</th>
        <th>수납비</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="record : ${medicalRecords}">
        <td th:text="${record.id}"></td>
        <td th:text="${#dates.format(record.date, 'yyyy-MM-dd')}"></td>
        <td th:text="${record.diagnosis}"></td>
        <td th:text="${record.prescription}"></td>
        <td th:text="${record.fee}"></td>
      </tr>
      </tbody>
    </table>
  </section>
</main>


<footer>
  <p>동의대학교 컴퓨터공학과 데이터베이스 프로그래밍 2팀</p>
  <p>류연서(팀장) 이해권(팀원) 이은진(팀원)</p>
  <p>COPYRIGHT(C) DEU-COMPUTERSCIENCE. ALL RIGHTS RESERVED.</p>
</footer>
</body>
</html>
